.container {
    width: 100%;
}



.text-header {
    color: #1890FF;
    position: absolute;
    width: 160px;
    height: 38px;
    left: 353px;
    top: 140px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;


    display: flex;
    align-items: center;

}

.title {
    position: absolute;
    width: 123px;
    height: 23px;
    left: 40px;
    top: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #172B4D;
}

.user {}

.textuser {
    position: absolute;
    width: 69px;
    height: 19px;
    left: 250px;
    top: 229px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #252F40;
    

}

.inputuser {

    box-sizing: border-box;

    position: absolute;
    width: 361px;
    height: 40px;
    left: 250px;
    top: 270px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.password {}

.textpass {
    position: absolute;
    width: 67px;
    height: 19px;
    left: 250px;
    top: 322px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #252F40;

}

.inputpass {
    box-sizing: border-box;

    position: absolute;
    width: 361px;
    height: 40px;
    left: 250px;
    top: 360px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;

}

.login {
    position: absolute;
    width: 361px;
    height: 40px;
    left: 250px;
    top: 431px;

    background: #1890FF;
    border-radius: 8px;
}
.login:hover{
    opacity: 0.7;
    background: chartreuse;
}
.container-right {
    position: relative;
}

.img1 {
    position: absolute;
    left: 68%;
    
}

.img2 {
    position: absolute;
    left: 55%;
    top:55%;

    


    
}