.header{
    display: flex;
    border-bottom: 1px solid #ccc;
    gap:70%;
}

.dropdown {
    /* position: relative; */
    display: inline-block;
    position: relative;
}

.drop-img {
    cursor: pointer;

}

.drop-content {
    display: none;
    background-color: #FFFFFF;
    min-width: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 0px 0px;
    border: 1px solid rgba(196, 196, 196, 0.25);
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.drop-content a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
}

.drop-content a:hover {
    background-color: #E2E3E9
}

.dropdown:hover .drop-content {
    display: block;
}
